body {
  background-color: #1d1d1d;
  color: #ffffff;
  font-family: Trajan Pro Regular;
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER ------------------------------------------------------------------ */
.container-header{ 
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 0px 0px;
}

.logo-header{
  width: 40%;
}

header .logo-Hollow-Knight{ 
  width: 170px;  
  transition: 0.2s ease-in-out;
}

.titulo-header{
  width: 20%
}

.botao-header{
  width: 40%
}

header .imagem-botao{ 
  width: 50px;
  transition: 0.2s ease-in-out;
  position: absolute;
  right: 50px;
  top: 20px;
}

header #botao-alterar-tema{
  background: none;
  border: none;
}

header .imagem-botao:hover{
    transform: scale(1.05);
    cursor: pointer;
}
/* --------------------------------------------------------- FIM DO HEADER */

#divisoria-invertida{
  list-style-type: none;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: scaleY(-1);
}

#menu-botoes{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Botoes das cidades */
.city-button {
  margin: 5px;
  padding: 10px;
  background-color: #575757;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* Cores dos botoes das cidades */
.A-Colmeia{
  background-color: #afa56f;
}

.Bacia-Antiga{
  background-color: #959595;
}

.Borda-do-Reino{
  background-color: #79766d;
}

.Caminho-Verde{
  background-color: #85917f;
}

.Canion-da-Nevoa{
  background-color: #ad9da9;
}

.Cidade-das-Lagrimas{
  background-color: #808eb2;
}

.Dirtmouth{
  background-color: #6e6e6e;
}

.Encruzilhada-Esquecida{
  background-color: #677a86;
}

.Ermos-Fungicos{
  background-color: #b4b7a4;
}

.Hidrovia-Real{
  background-color: #74a9ac;
}

.Jardins-da-Rainha{
  background-color: #819987;
}

.Ninho-Profundo{
  background-color: #8d98a5;
}

.Penhascos-Uivantes{
  background-color: #918ba6;
}

.Pico-de-Cristal{
  background-color: #7d6f7c;
}

.Terra-do-Descanso{
  background-color: #9e8b7c;
}

.city-button:hover {
  background-color: #777777;
}

#divisoria{
  list-style-type: none;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#creature-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creature-item {
  margin: 10px;
  width: 200px;
  background-color: #343434;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.Moldura-Arabesco-Branco {
  position: relative;
  width: 100%;
}

.Moldura-Arabesco-Branco img {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 110%;
  height: auto;
}

.Moldura-Arabesco-Branco-Invertido {
  position: absolute;
  width: 110%;
  transform: scaleY(-1) scaleX(-1) translateY(47%) translateX(-5%);
}

.Moldura-Arabesco-Branco-Invertido img {
  position: absolute;
  height: auto;
}

.Imagem-Creature-List {
  position: relative;
  width: 100%;
}

.Imagem-Creature-List img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.creature-name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.creature-city {
  font-size: 10px;
  color: #888888;
  margin-bottom: 5px;
}

.moldura-olhos {
  padding: 10px 0px 10px 0px
}

.moldura-olhos img{
  width: 95%;
}

.descricao {
  margin: 5px 0;
}

/* Estilos CSS para o texto da descrição */
.descricao p {
  font-size: 14px;
}


.divisa {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #888888;
  position: relative;
}


.descricao-longa {
  max-height: 80px;
  overflow-y: scroll;
  font-size: 14px;
  padding-right: 10px;
}






/*
.Moldura-Arabesco-Branco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.Moldura-Arabesco-Branco-Invertido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  transform: scaleY(-1) scaleX(-1);
}

.A-Radiancia {
  margin-top: 30px;
}

.creature-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.creature-city {
  font-size: 16px;
  color: #888888;
  margin-top: 10px;
}

.descricao {
  margin-top: 20px;
}

.divisa {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #888888;
}

.descricao-texto {
  margin-top: 20px;
}
*/
/*
.Moldura-Arabesco-Branco{
  width: 50px;
  height: 25px;
}

.creature-item img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.creature-name {
  font-size: 18px;
  font-weight: bold;
}

.creature-city {
  font-size: 14px;
  color: #888888;
}
*/